{% extends "bases/base.html" %}
{% block main %}
<!-- Special Dishes Section -->
    <section id="gtco-special-dishes" class="bg-grey section-padding">
        <div class="container">
            <div class="section-content">
                <div class="heading-section text-center">
                    <span class="subheading">
                        Specialties
                    </span>
                    <h2>
                        Special Dishes
                    </h2>
                </div>
                <span v-if="loader" class="sr-only">Loading...</span>
                <special-item-1 v-if="content" v-for="(plat, index) in plats" v-bind:plat="plat" v-bind:index="index"  v-bind:key="plat.id"></special-item-1>
            </div>
        </div>
    </section>
    <!-- End of Special Dishes Section -->
{% endblock main %}
