{% extends "bases/base.html" %}
{% block main %}
    <!-- Team Section -->
    <section id="gtco-team" class="bg-white section-padding">
        <div class="container">
            <div class="section-content">
                <div class="heading-section text-center">
                    <span class="subheading">
                        Specialties
                    </span>
                    <h2>
                        Our Team
                    </h2>
                </div>
                <div class="row">
                        <span v-if="loader" class="sr-only">Loading...</span>
                        <team-item v-if="content" v-for="team in teams" v-bind:team="team" v-bind:key="team.id"></team-item>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Team Section -->
{% endblock main %}